body
{
	width: 80% ;
    background: #0F9452;
	color: black;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: normal;
	margin: 0 auto;	
}
/*________________________________________________________________________________*/

header
{
	display: flex;
	background:white;
	font-weight: normal;
	text-align: center;
	width: 100%;
	height: 160px;
}
figure{
	width: 200px;
	justify-self: center;
	align-self: center;
	justify-self: flex-start;
}
header img{
	width: 80%;
	height: auto;
	background-repeat: no-repeat;
}
header h3
{
	width: 60%;
	font-style: italic;
	justify-self: center;
	align-self: center;
	color:#757575;
	line-height: 50px;
}
/*________________________________________________________________________________*/

nav
{	width: 100%;
	margin-bottom: 0px;
	background: #0c5e35;
	padding:  0 0 0;
}

nav ul
{
	display: flex;
	height: 30px;
	list-style: none;
    color: white;
	padding: 0;
	margin: 0;
	justify-content: flex-end;
}

nav li{
	margin-right: 12px;
}
nav li a
{
	display: inline-block;
	background: #0c5e35;
	color: #6cb15e;
	font-size: 18px;
	line-height: 30px;
	text-decoration: none;
	transition: all 0.5s ease;
}

nav li a:hover
{
	background: white;
}
}
/*________________________________________________________________________________*/

section
{
	background: #DEFFC8;
	display: inline-block;
	vertical-align: top;
	width: 100%;
}
article
{
    background: #DEFFC8;
}
section article
{
	text-align: center;
}
section ul.link
{
	list-style: none;
	padding: 0;
	margin: 0;
	border: 3px dotted #258113;
	margin-left: 20%;
	margin-right: 20%;
}
section ul img{
	max-width: 250px; max-height: 150px;
}
section li
{
	display: inline-block;
	padding: 15px;
	vertical-align: center;
}
/*________________________________________________________________________________*/

footer
{
    background: #0c5e35;
	width: 100%;
	padding-bottom: 5px;
}
.footer{
	display: flex;
	justify-content: space-between;
}
#hoja{
	display: flex;
	width: 120px;
}

#link{
    color: white;
}

footer ul{
	align-self: flex-end;
	display: flex;
	justify-items: flex-end;
}
footer li{
	list-style: none;
}
li img{
	width: 65px;
}
footer p{
	margin: 0 10px ;
}